<!DOCTYPE html>
{% load sass_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Homework</title>
    <link href="{% static 'scss/base.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <section>
            <button class="btn-about" id="btn_about">About me</button>
            <div class="about-me" id="about_me">
                <img src="{% static 'img/profile.svg' %}">
                    <p>Estudiante de ingeniería informatica apacionado por
                        la programación y el arte
                    </p>
            </div>
    </section>
    <section>
        <div class="sub-tittle">
            <p>Home works</p>
        </div>
        {# First departmental #}
        <div class="line"></div>
        <form class="departmental" method="post" action="{% url 'home:student' %}" id="form_first">
            {% csrf_token %}
            <p>First departmental</p>
            {% if student %}
                <input type="hidden" id="id_first_departmental" name="departmental" value="1">
                <label for="id_first_dep">Add</label>
                <input type="file" multiple id="id_first_dep" name="file">
                <button type="button" class="btn-send" id="btn_first">Send</button>
            {% endif %}
            <div class="documents" id="id_first_documents">
                {% for document in first_dep %}
                    <div class="document">
                        <a href="{{ document.url }}"> <img src="{% static 'img/word.svg' %}" > </a>
                        <span>{{ document.name }}</span>
                    </div>
                {% endfor %}
            </div>
        </form>
        {# Second departmental #}
        <div class="line"></div>
        <form class="departmental" method="post" action="{% url 'home:student' %}" id="form_second">
            {% csrf_token %}
            <p>Second departmental</p>
            {% if student %}
                <input type="hidden" id="id_second_departmental" name="departmental" value="2">
                <label for="id_second_dep">Add</label>
                <input type="file" multiple id="id_second_dep" name="file">
                <button type="button" class="btn-send" id="btn_second">Send</button>
            {% endif %}
            <div class="documents" id="id_second_documents">
                {% for document in second_dep %}
                    <div class="document">
                        <a href="{{ document.url }}"> <img src="{% static 'img/word.svg' %}" > </a>
                        <span>{{ document.name }}</span>
                    </div>
                {% endfor %}
            </div>
        </form>
        {# Third departmental #}
        <div class="line"></div>
        <form class="departmental" method="post" action="{% url 'home:student' %}" id="form_third">
            {% csrf_token %}
            <p>Third departmental</p>
            {% if student %}
                <input type="hidden" id="id_third_departmental" name="departmental" value="3">
                <label for="id_third_dep">Add</label>
                <input type="file" multiple id="id_third_dep" name="file">
                <button type="button" class="btn-send" id="btn_third">Send</button>
            {% endif %}
            <div class="documents" id="id_third_documents">
                {% for document in third_dep %}
                    <div class="document">
                        <a href="{{ document.url }}"> <img src="{% static 'img/word.svg' %}" > </a>
                        <span>{{ document.name }}</span>
                    </div>
                {% endfor %}
            </div>
        </form>
        {# Final project #}
        <div class="line"></div>
        <form class="departmental" method="post" action="{% url 'home:student' %}" id="form_project">
            {% csrf_token %}
            <p>Final project</p>
            {% if student %}
                <input type="hidden" id="id_project_departmental" name="departmental" value="4">
                <label for="id_final_project">Add</label>
                <input type="file" multiple id="id_final_project" name="file">
                <button type="button" class="btn-send" id="btn_project">Send</button>
            {% endif %}
            <div class="documents" id="id_final_documents"></div>
        </form>
    </section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/home.js' %}"></script>
</html>