<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Aplicacion de Redes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="{% static 'css/homeworks_list.css' %}">
  <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
  <!-- Demo styles -->

</head>
<body>
  <!-- Swiper -->
  <section>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {# Investigations #}
        <div class="swiper-slide">
          <div class="tab">
              <span>Investigations</span>
          </div>
          <input type="text" class="search" placeholder="search document" id="id_search_document">
          <div class="content" id="id_content_document">
                {% for object in object_list %}
                    <a href="{% url 'home:homework' object.id %}"><span class="content_element">{{ object.title }}</span></a>
                    <div class="line"></div>
                {% endfor %}
          </div>
        </div>
        {# Practices #}
        <div class="swiper-slide">
          <div class="tab">
              <span>Practices</span>
            </div>
          <div class="content">
          </div>
        </div>
        {# Project #}
        <div class="swiper-slide">
          <div class="tab">
              <span>Project</span>
            </div>
          <div class="content">

          </div>
        </div>
      </div>
    <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
  </div>
  </section>
 <footer>
   <button class="btn-about">About me</button>
   <div class="about dn">
     <img src="{% static 'img/profile_eric.jpg' %}">
     <p>Bello Ortiz Eric</p>
     <p>Apacionado de la programación, la lectura y el arte.</p>
     <p><b>Conocimientos</b></p>
     <p>Lenguajes de programacion : Python, C#, Java y JavaScript </p>
     <p>Frameworks: Django, .Net core, Node.js, React </p>
     <button class="btn-close">Close</button>
   </div>
 </footer>
</body>
  <!-- Swiper JS -->
  <script src="{% static 'js/swiper.min.js' %}"></script>
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'js/homework_list.js' %}" ></script>
</html>