/*
    Colors
*/
/*
    Layouts
*/
.dfc, .message {
  display: flex;
  align-items: center;
}

.jc, .message {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.row {
  flex-direction: row;
}

.clm {
  flex-direction: column;
}

.dn {
  display: none;
}

/*
    mixin s
*/
.message {
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 10px;
  right: 0px;
}

.message-success {
  background-color: #d6eaf8;
  font-size: 1em;
  color: #85c1e9;
  border-radius: 15px;
}

.message-error {
  background-color: #f5b7b1;
  font-size: 1em;
  color: #ff948a;
  border-radius: 15px;
}
