/*
    Colors
*/
/*
    Layouts
*/
.dfc, .content, .document, .documents, .departmental, .btn-send, .about, .search, section, .tab, footer, header, body {
  display: flex;
  align-items: center;
}

.jc, .document, .documents, .departmental, .btn-send, .about, .search, .tab, header {
  justify-content: center;
}

.wrap, .documents {
  flex-wrap: wrap;
}

.row, .documents, .search, .tab {
  flex-direction: row;
}

.clm, .content, .document, .departmental, .about, section, footer, body {
  flex-direction: column;
}

.dn {
  display: none;
}

/*
    mixin s
*/
body {
  background-color: #FDFEFE;
  width: 100%;
  margin: 0px;
}

header {
  width: 100%;
  height: 80px;
}

.tab {
  width: 50%;
  height: 40px;
  background: #FDFEFE;
  border: 1px solid #abb2b9;
  border-radius: 15px;
  margin: 5px;
}

.tab span {
  font-family: Arial;
  text-align: center;
  color: #34495e;
}

@media screen and (max-device-width: 480px) {
  .tab {
    width: 90%;
    height: 40px;
  }
}

section {
  width: 100%;
  height: auto;
  margin: 10px 0px;
}

section input[type="file"] {
  display: none;
}

.search {
  width: 47%;
  height: 40px;
  background: #f4f6f6;
  border: 0px;
  border-radius: 15px;
  margin: 5px 0px 50px 0px;
  padding: 0px 15px;
}

.search span {
  font-family: Arial;
  text-align: center;
  color: #34495e;
}

@media screen and (max-device-width: 480px) {
  .search {
    width: 82%;
    height: 40px;
  }
}

.about {
  width: 500px;
  height: auto;
  padding: 20px 0px;
  margin: 20px 0px;
  border: 1px solid #abb2b9;
  border-radius: 20px;
}

.about img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.about p {
  margin: 10px;
  font-family: arial;
  color: #34495e;
}

@media screen and (max-device-width: 480px) {
  .about {
    width: 90%;
    height: auto;
  }
}

.btn, .btn-send, .btn-close, .btn-about {
  border: solid 0px;
  border-radius: 20px;
  font-size: 1em;
  color: #FDFEFE;
}

.btn:hover, .btn-send:hover, .btn-close:hover, .btn-about:hover {
  cursor: pointer;
}

.btn-about {
  width: 200px;
  height: 40px;
  background-color: #3498db;
  margin: 20px 0px 0px 0px;
  outline: none;
}

.btn-close {
  width: 180px;
  height: 35px;
  margin: 10px 0px;
  background-color: #e74c3c;
  outline: none;
}

.btn-send {
  width: 150px;
  height: 30px;
  background-color: #2ecc71;
  margin: 5px;
  font-family: Arial;
  text-align: center;
  outline: none;
}

.sub-tittle {
  width: 100%;
  height: auto;
  font-size: 1.5em;
  font-family: Arial;
  color: #abb2b9;
}

.line {
  width: 70%;
  height: 1px;
  margin: 5px;
  background-color: #abb2b9;
}

.departmental {
  width: 100%;
  height: auto;
}

.departmental p {
  font-size: 1em;
  font-family: Arial;
  color: #abb2b9;
  margin: 10px;
}

.documents {
  width: 95%;
  height: auto;
}

.document img {
  width: 50px;
  height: 50px;
}

.document span {
  width: auto;
  height: auto;
  font-size: 1em;
  font-family: Arial;
  color: #34495e;
  margin: 10px;
}

.content {
  width: 90%;
  height: auto;
  min-height: 500px;
}

.content span {
  font-family: Arial;
  font-size: 1em;
  color: #34495e;
}

.content span:hover {
  cursor: pointer;
}

.content a {
  margin: 10px;
  text-decoration: none;
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}

.notification {
  width: 90%;
  height: auto;
  padding: 10px;
  background-color: #f4f6f6;
  font-size: 1em;
  font-family: Arial;
  border-radius: 15px;
}

/*# sourceMappingURL=../css/homeworks_list.css.map */