
/*
    Colors
*/
$white: #FDFEFE;
$gray: #D5D8DC;
$blue: rgb(52, 152, 219);
$red: rgb(231, 76, 60);
$black: rgb(52, 73, 94);
$gray: rgb(171, 178, 185);
$green: rgb(46, 204, 113);
/*
    Layouts
*/
.dfc{
    display: flex;
    align-items: center;
}

.jc{
    justify-content: center;
}

.wrap{
    flex-wrap: wrap;
}

.row{
    flex-direction: row;
}

.clm{
    flex-direction: column;
}

.dn{
    display: none;
}

/*
    mixin s
*/
@mixin size($x, $y){
    width: $x;
    height: $y;
}

