@import 'base.scss';

body{
    background-color: $white;
    @extend .dfc, .clm;
    width: 100%;
    margin: 0px;
}

header{
    @include size(100%, 80px);
    @extend .dfc, .jc;
}

footer{
    @extend .dfc, .clm;
}

.tab{
    @include size(50%, 40px);
    @extend .dfc, .jc, .row;
    background: $white;
    border: 1px solid $gray;
    border-radius: 15px;
    margin: 10px 0px 50px 0px;

    span{
        font-family: Arial;
        text-align: center;
        color: $black;
    }
    @media screen and (max-device-width : 480px) {
        @include size(60%, 40px);
    }
}

section{
    @include size(100%, auto);
    @extend .dfc, .clm;
    margin: 10px 0px;
    input[type="file"]{
        display: none;
    }
}

.about{
    @include size(500px, auto);
    @extend .dfc, .jc, .clm;
    padding: 20px 0px;
    margin: 20px 0px;
    border: 1px solid $gray;
    border-radius: 20px;
    img{
        @include size(150px, 150px);
        border-radius: 50%
    }
    p{
        margin: 10px;
        font-family: arial;
        color: $black;
    }
    @media screen and (max-device-width: 480px){
        @include size(90%, auto);
    }
}

.btn{
    border: solid 0px;
    border-radius: 20px;
    font-size: 1em;
    color: $white;
    &:hover{
        cursor: pointer;
    }
}

.btn-about{
    @include size(200px, 40px);
    @extend .btn;
    background-color: $blue;
    margin: 20px 0px 0px 0px;
    outline:none;
}

.btn-close{
    @include size(180px, 35px);
    @extend .btn;
    margin: 10px 0px;
    background-color: $red;
    outline:none;
}

.btn-send{
    @include size(150px, 30px);
    @extend .dfc, .jc, .btn;
    background-color: $green;
    margin: 5px;
    font-family: Arial;
    text-align: center;
    outline:none;
}

/*
label{
    @include size(150px, 30px);
    @extend .dfc, .jc, .btn;
    background-color: $green;
    margin: 5px;
    font-family: Arial;
    text-align: center;
}
*/

.sub-tittle{
    @include size(100%, auto);
    font-size: 1.5em;
    font-family: Arial;
    color: $gray;
}

.line{
    @include size(70%, 1px);
    margin: 5px;
    background-color: $gray;
}

.departmental{
    @include size(100%, auto);
    @extend .dfc, .clm, .jc;
    p{
        font-size: 1em;
        font-family: Arial;
        color: $gray;
        margin: 10px;
    }
}

.documents{
    @include size(95%, auto);
    @extend .dfc, .row, .jc, .wrap;
}

.document{
    @extend .dfc, .clm, .jc;
    img{
        @include size(50px, 50px);
    }
    span{
        @include size(auto, auto);
        font-size: 1em;
        font-family: Arial;
        color: $black;
        margin: 10px;
    }
}

.content{
    @include size(90%, auto);
    min-height: 500px;
    @extend .dfc, .clm;
    span{
        font-family: Arial;
        font-size: 1em;
        color: $black;
        &:hover{
            cursor: pointer;
        }
    }
    a{
        margin: 10px;
        text-decoration:none;
    }
}

.swiper{
    &-container{
        @include size(100%, auto);
    }
    &-slide{
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        flex-direction: column;
    }
}
