
@import 'base.scss';

body{
   @extend .dfc, .clm;
}

section{
    @include size(70%, auto);
    @extend .dfc, .clm;

    h1{
        font-family: Arial;
        color: $black;
        font-size: 2em;
    }

    p{
        font-family: Arial;
        color: $black;
        font-size: 1em;
        text-align: justify;
    }

    img{
        @include size(300px, 300px);
        border-radius: 15px;
    }

    @media screen and (max-device-width: 480px) {
        @include size(90%, auto);
    }

}
